@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("./assets/fonts/GothamBook.ttf");
}

@layer components {
  .title {
    @apply text-xl font-bold;
  }
}

*::-webkit-scrollbar {
  display: none;
}
