@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("./assets/fonts/GothamBook.ttf");
}

@layer components {
  .title {
    @apply text-xl font-bold;
  }

  .action-title {
    @apply text-sm font-bold text-zinc-500 cursor-pointer;
  }

  .action-title:hover {
    @apply text-white;
  }

  .playlist-title {
    @apply text-zinc-500 text-sm font-bold mb-3 cursor-pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .playlist-title:hover {
    @apply text-zinc-300;
  }
}

*::-webkit-scrollbar {
  display: none;
}
